<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694583133737-0ftut1prhqv8aeq0h6tjuoinhlr5urrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694583133737-0ftut1prhqv8aeq0h6tjuoinhlr5urrp</string>
	<key>API_KEY</key>
	<string>AIzaSyAjc8RE9ow1dPPIwfzpaOTSBDz-xQJ3m8o</string>
	<key>GCM_SENDER_ID</key>
	<string>694583133737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Music-Company.IndoChat</string>
	<key>PROJECT_ID</key>
	<string>indochat-4e7ce</string>
	<key>STORAGE_BUCKET</key>
	<string>indochat-4e7ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694583133737:ios:b4120bb26f09feee2d3e38</string>
</dict>
</plist>